$themeColor:skyblue; // 主题颜色
$secoColor:darkblue;  // 次要主题
$bgColor:#F7F7F7; //  背景颜色
$white:#fff;
$gray: #e8e8e8; // gray
$priceColor:red;  // 价格的颜色
$priceColor_seco: orange; // 价格次要颜色

$fc:#666; // 文字颜色



$tabBg: #fff; // tabbar背景颜色
$tabIconSize: 22px; // icon大小
$tabActiveColor:$themeColor; // 选中时候的颜色
$tabColor:$fc; // 颜色
$tabHeight:50px; // tabbar的高度


$padding:15px;
